<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <link rel="stylesheet" href="<%= publicPath %>style.css?<%= buildKey %>">

</head>
<body>
    <main>
        <header>
            <h3><%= title %></h3>
            <p>날짜와 시간을 입력 해주세요</p>
            <form id="form">
                <p>
                    <input type="date" id="date">
                    <input type="time" id="time" step="1">
                </p>
                <p>
                    <select id="ticketing-type">
                        <option value="ktx">KTX</option>
                        <option value="srt">SRT</option>
                        <option value="custom">Custom</option>
                    </select>
                </p>
                <p id="editor">
                    <textarea rows="10"></textarea>
                </p>
                <p class="text-right">
                    <button type="reset" id="reset">초기화</button>
                    <button type="button" id="cancel">취소</button>
                    <button type="submit" id="submit">실행</button>
                </p>
            </form>
        </header>

        <section class="console"></section>
    </main>
</body>
</html>
