html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticketing-timer-app .tta-container{display:flex;flex-direction:column;min-width:240px;min-height:420px;overflow:hidden;padding:20px;background-color:#fff}.ticketing-timer-app .tta-container p{margin:1em 0}.ticketing-timer-app .tta-container .tta-console{overflow-y:auto;border:1px solid #eee;background-color:#fafafa;padding:4px}.ticketing-timer-app .tta-container .tta-console:empty{display:none}.ticketing-timer-app .tta-container article{white-space:pre-line}.ticketing-timer-app .tta-container .text-right{text-align:right}.ticketing-timer-app .tta-container .tta-input-container{display:block}.ticketing-timer-app .tta-container .tta-input-container input{display:block;width:100%;margin-bottom:10px}.ticketing-timer-app .tta-container .tta-input-container input:last-child{margin-bottom:0}.ticketing-timer-app .tta-container .tta-editor-container{border:1px solid #eee;display:flex;position:relative;font-size:14px}.ticketing-timer-app .tta-container .tta-editor-container [data-id=editor]{position:relative;z-index:2;flex:1;padding:4px;margin:0;border:0;min-height:100px;max-height:300px;background:transparent;color:transparent;color:rgba(255,255,255,.1);caret-color:rgba(255,255,255,.5);font-size:1em !important;font-family:inherit !important;white-space:pre}.ticketing-timer-app .tta-container .tta-editor-container [data-id=editor-preview]{position:absolute;left:0;right:0;top:0;bottom:0;z-index:1;padding:4px;margin:0;font-size:1em !important;font-family:inherit !important;white-space:pre}.ticketing-timer-app .tta-container .tta-editor-container [data-id=editor-preview] *{font-size:1em !important;font-family:inherit !important}.ticketing-timer-app.tta-mode-modal{position:fixed;left:0;right:0;top:0;bottom:0}.ticketing-timer-app.tta-mode-modal .tta-container{position:absolute;left:0;right:0;top:0;bottom:0;z-index:2;box-shadow:0 5px 10px 0 rgba(0,0,0,.2);border-radius:6px;margin:20px;animation-duration:.3s;animation-play-state:paused}.ticketing-timer-app.tta-mode-modal .tta-modal-backdrop{position:absolute;left:0;right:0;top:0;bottom:0;z-index:1;background-color:rgba(0,0,0,.2);animation-duration:.3s;animation-play-state:paused;cursor:pointer}.ticketing-timer-app.tta-mode-modal.tta-state-hidden{display:none}.ticketing-timer-app.tta-mode-modal.tta-state-hide .tta-container,.ticketing-timer-app.tta-mode-modal.tta-state-hide .tta-modal-backdrop{animation-play-state:running}.ticketing-timer-app.tta-mode-modal.tta-state-hide .tta-container{animation-name:tta-hide-animation,tta-down-animation}.ticketing-timer-app.tta-mode-modal.tta-state-hide .tta-modal-backdrop{animation-name:tta-hide-animation}.ticketing-timer-app.tta-mode-modal.tta-state-show .tta-container,.ticketing-timer-app.tta-mode-modal.tta-state-show .tta-modal-backdrop{animation-play-state:running}.ticketing-timer-app.tta-mode-modal.tta-state-show .tta-container{animation-name:tta-show-animation,tta-up-animation}.ticketing-timer-app.tta-mode-modal.tta-state-show .tta-modal-backdrop{animation-name:tta-show-animation}@media(min-width: 480px){.ticketing-timer-app.tta-mode-modal .tta-container{max-width:300px;max-height:530px;margin:auto}}@keyframes tta-hide-animation{0%{opacity:1}100%{opacity:0}}@keyframes tta-show-animation{0%{opacity:0}100%{opacity:1}}@keyframes tta-up-animation{0%{transform:translateY(10%)}100%{transform:translateY(0)}}@keyframes tta-down-animation{0%{transform:translateY(0)}100%{transform:translateY(10%)}}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

